[include]
    path = ~/.gitconfig.user
[alias]
    a = add
    au = add -u
    c = commit
    ca = commit --amend
    co = checkout
    d = diff
    dh = diff HEAD
    dhh = diff HEAD^
    l = log
    s = status
[commit]
    template = ~/.gitmessage
[core]
    pager = delta
[delta]
    side-by-side = true
    navigate = true
[init]
    defaultBranch = main
[push]
    default = simple
    autoSetupRemote = true
[pull]
    rebase = false
