[include]
    path = ~/.gitconfig.user
[alias]
    a = add
    ap = add -p
    au = add -u
    c = commit
    ca = commit --amend
    co = checkout
    d = diff
    ds = diff --staged
    dh = diff HEAD
    dhh = diff HEAD^
    l = log
    p = push
    pf = push --force-with-lease
    pr = pull --rebase
    s = status
[commit]
    template = ~/.gitmessage
[core]
    pager = delta
[delta]
    side-by-side = true
    navigate = true
[init]
    defaultBranch = main
[push]
    default = simple
    autoSetupRemote = true
[pull]
    ff = only
